# Assets
app/static/*
app/templates/*
!app/templates/.gitkeep
!app/templates/static
app/templates/static/*
!app/templates/static/.gitkeep

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Database
*.db

# Environment
env/
/.env

# Frontend
app/frontend/.DS_Store
app/frontend/.vscode
app/frontend/node_modules/
app/frontend/dist/

# Log files
app/frontend/npm-debug.log*

# MyPy
.mypy_cache
